<div class="pt-[10vmin] px-[6lvw] h-dvh w-full flex flex-col">
    <div class="flex flex-row">
        <div class="flex-1"><p class="text-5xl xsm:text-6xl sm:text-7xl md:text-8xl gothic-coding">
            Finn<br/>Blumenstock
        </p>
            <p class="text-gray-300 text-lg mt-4">Computer Science Student at KIT &#183;
                Full-Stack and <span class="break-inside-avoid inline-block">Application Developer</span></p>
            <div class="contact-info mt-3">
                <p>
                    <i class="mio">call</i> <a href="tel:+4912345679">+4912345679</a>
                </p>
                <p>
                    <i class="mio">mail</i> <a href="mailto:cen@sor.de">cen&#64;sor.de</a>
                </p>
            </div>
        </div>
        <div class="flex-grow-0 hidden lg:block ml-6">
            <img src="/assets/images/profilepic.jpg" class="rounded-full w-[25dvw] lg:w-full" width="640" height="640"
                 alt="Stylized picture of Finn Blumenstock">
        </div>
    </div>

</div>
